.btn {
  display: inline-flex;
  padding: 8px;

  color: #1c110a;
  background-color: $color-transparent;

  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
    transition: opacity $trans-default;
  }
}
